In [1]:
import pandas as pd

# Wprowadzenie do tematu

## Przykład 1 - Tworzenie obiektu Series

Z listy poniżej:

In [2]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

utwórz obiekt typu Series. Wynik wydrukuj do konsoli.

### Rozwiązanie

In [3]:
stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

## Przykład 2 - Tworzenie obiektu DataFrame z obiektu Series

Przekształć obiekt quotations:

In [4]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2,
}
quotations = pd.Series(data=stocks)

do obiektu DataFrame. Zresetuj indeks i nazwij kolumny `ticker` oraz `price`. Wydrukuj obiekt DataFrame do konsoli.

### Rozwiązanie

In [5]:
stocks = {
    'PLW': 387.00,
    'CDR': 339.5,
    'TEN': 349.5,
    '11B': 391.0,
    'BBT': 25.5,
    'F51': 19.2,
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

## Przykład 3 - Tworzenie obiektu DataFrame i wypełnianie go danymi

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich dni dla listopada 2023 roku i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Rozwiązanie - wariant 1

In [6]:
date_range = pd.date_range(start='2023-11-01', periods=30)
print(date_range)

DatetimeIndex(['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04',
               '2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08',
               '2023-11-09', '2023-11-10', '2023-11-11', '2023-11-12',
               '2023-11-13', '2023-11-14', '2023-11-15', '2023-11-16',
               '2023-11-17', '2023-11-18', '2023-11-19', '2023-11-20',
               '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24',
               '2023-11-25', '2023-11-26', '2023-11-27', '2023-11-28',
               '2023-11-29', '2023-11-30'],
              dtype='datetime64[ns]', freq='D')

### Rozwiązanie - wariant 2

In [7]:
date_range = pd.date_range(start='2023-11-01', end='2023-11-30')
print(date_range)

DatetimeIndex(['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04',
               '2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08',
               '2023-11-09', '2023-11-10', '2023-11-11', '2023-11-12',
               '2023-11-13', '2023-11-14', '2023-11-15', '2023-11-16',
               '2023-11-17', '2023-11-18', '2023-11-19', '2023-11-20',
               '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24',
               '2023-11-25', '2023-11-26', '2023-11-27', '2023-11-28',
               '2023-11-29', '2023-11-30'],
              dtype='datetime64[ns]', freq='D')

# Zadania do samodzielnego wykonania

## Ćwiczenie 1

Z podanego słownika:

In [8]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

utwórz obiekt typu Series i przypisz do zmiennej quotations. Zawartość zmiennej quotations wydrukuj do konsoli.

### Miejsce na rozwiązanie

In [9]:
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

## Ćwiczenie 2

Podana jest zmienna quotations (obiekt typu Series):

In [10]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

Przekształć obiekt quotations na listę. Wynik wydrukuj do konsoli.

### Miejsce na rozwiązanie

In [11]:
quotations = quotations.to_list()
print(quotations)
print(type(quotations))

[387.0, 339.5, 349.5, 391.0]
<class 'list'>

## Ćwiczenie 3

Przekształć obiekt quotations na obiekt typu DataFrame. Ustaw nazwę kolumny na price.

In [12]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [13]:
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['Ticker', 'Price']
print(quotations)

  Ticker  Price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0

## Ćwiczenie 4

Używając bibliotek numpy i pandas zbuduj następujący obiekt Series:
    101    10.0
    102    20.0
    103    30.0
    104    40.0
    105    50.0
    106    60.0
    107    70.0
    108    80.0
    109    90.0
    dtype: float64

Wydrukuj wynik do konsoli.
Wskazówka: Użyj funkcji `np.arange()`.
### Miejsce na rozwiązanie

In [14]:
import numpy as np

# Create two individual arrays

values = np.arange(start=10, stop=91, step=10, dtype=float)
indexes = np.arange(start=101, stop=110, step=1)

series = pd.Series(data=values, index=indexes)
print(series)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

## Ćwiczenie 5

Podany jest następujący obiekt typu Series:

In [15]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
print(series)

a    001
b    002
c    003
d    004
dtype: object

Zmień typ danych obiektu na int. Wydrukuj wynik do konsoli.

### Miejsce na rozwiązanie

In [16]:
int_series = series.astype(dtype=int)
print(int_series)

a    1
b    2
c    3
d    4
dtype: int64

## Ćwiczenie 6

Podany jest następujący obiekt quotations:

In [17]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

Dodaj do niego dwa elementy:
- klucz: BBT, wartość: 25.5
- klucz: F51, wartość: 19.2

Wydrukuj zawartość zmiennej quotations do konsoli.

### Miejsce na rozwiązanie

In [18]:
new_stocks = {'BBT': 25.5, 'F51': 19.2}
new_series = pd.Series(data=new_stocks)

quotations = pd.concat((quotations, new_series))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

## Ćwiczenie 7

Zbuduj poniższy obiekt DataFrame i przypisz go do zmiennej companies: <br>
<img src="img/1.png">
    
Wydrukuj obiekt do konsoli.

### Miejsce na rozwiązanie

In [19]:
# Define df value arrays

names = ['Amazon', 'Microsoft', 'Facebook']
prices = [2375.0, 178.6, 179.2]
tickers = ['AMZN.US', 'MSFT.US', 'FB.US']

data = {'company': names, 'price': prices, 'ticker': tickers}

companies = pd.DataFrame(data=data)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

## Ćwiczenie 8

Przekształć pierwszą kolumnę obiektu companies na indeks. Wydrukuj obiekt do konsoli.

In [20]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

### Miejsce na rozwiązanie

In [21]:
companies.set_index('company', inplace=True)
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

## Ćwiczenie 9

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich dni dla stycznia 2020 roku i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [22]:
date_range = pd.date_range(start='2020-01-01', periods=31)
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

## Ćwiczenie 10

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd` dla wszystkich poniedziałków z 2020 r. i przypisz go do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [23]:
# Start on 2020.01.01, end on 2020.12.31. Get the first monday (2020.01.06) and increment by a week.

date_range = pd.date_range(start='2020-01-01', end='2020-12-31', freq='W-MON')
print(date_range)

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

## Ćwiczenie 11

Zbuduj obiekt DatetimeIndex zawierający daty w formacie `yyyy-mm-dd hh: mm: ss` dla 1 stycznia 2021 roku z interwałem czasowym 1h i przypisz do zmiennej date_range. Wydrukuj zawartość tej zmiennej do konsoli.

### Miejsce na rozwiązanie

In [24]:
# Increment the date by 1hr between the 1st and 2nd day of January 2021

date_range = pd.date_range(start='2021-01-01 00:00:00', end='2021-01-02 00:00:00', freq='1H')
print(date_range)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00',
               '2021-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

## Ćwiczenie 12

Zbuduj obiekt DataFrame określony poniżej i wydrukuj do konsoli.
  -  Kolumna day ma zawierać daty od 1 marca 2023 roku do o 31 marca 2023 roku włącznie. 
  - Kolumna day_of_year to numer dnia w całym roku

### Miejsce na rozwiązanie

In [25]:
# Build the date_range object

date_range = pd.date_range(start='2021-03-01', end='2021-03-31', freq='1D')

# Get the day of the year for each of the dates in the date_range object

day_of_year = date_range.dayofyear

# Create a DataFrame object based on the previous output

data = {'day_of_year': day_of_year, 'day': date_range}

df = pd.DataFrame(data=data).set_index('day_of_year')
print(df)

                   day
day_of_year
60          2021-03-01
61          2021-03-02
62          2021-03-03
63          2021-03-04
64          2021-03-05
65          2021-03-06
66          2021-03-07
67          2021-03-08
68          2021-03-09
69          2021-03-10
70          2021-03-11
71          2021-03-12
72          2021-03-13
73          2021-03-14
74          2021-03-15
75          2021-03-16
76          2021-03-17
77          2021-03-18
78          2021-03-19
79          2021-03-20
80          2021-03-21
81          2021-03-22
82          2021-03-23
83          2021-03-24
84          2021-03-25
85          2021-03-26
86          2021-03-27
87          2021-03-28
88          2021-03-29
89          2021-03-30
90          2021-03-31

## Ćwiczenie 13

Podany jest następujący słownik data_dict:

In [26]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

Zbuduj obiekt DateFrame z tego słownika. Dodatkowo jako indeks dodaj datę od 01.01.2023. Obiekt przypisz do zmiennej df. Wydrukuj zawartość zmiennej df do konsoli.

### Miejsce na rozwiązanie

In [27]:
date_index = pd.date_range(start='2023-01-01', periods=1000, freq='1D')

df = pd.DataFrame(data=data_dict, index=date_index)
print(df)

              normal   uniform  binomial
2023-01-01 -0.265360  0.722938         0
2023-01-02  1.453931  0.370005         0
2023-01-03  1.579821  0.112557         0
2023-01-04  0.682076  0.134065         0
2023-01-05 -0.860488  0.972702         0
...              ...       ...       ...
2025-09-22  0.035456  0.612121         0
2025-09-23 -0.304626  0.038605         0
2025-09-24  0.501919  0.449981         0
2025-09-25 -2.575309  0.112362         0
2025-09-26 -0.680191  0.041126         1

[1000 rows x 3 columns]

## Ćwiczenie 14

Podany jest obiekt df. Wykonaj poniższe polecenia:
- wydrukuj pierwsze 10 wierszy tego obiektu,
- wydrukuj pustą linię,
- wydrukuj ostatnie 5 wierszy tego obiektu.

In [28]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2024-01-01', periods=1000))

### Miejsce na rozwiązanie

In [29]:
print(df[:10])
print()
print(df[-5:])

              normal   uniform  binomial
2024-01-01  1.135909  0.972633         0
2024-01-02  0.288410  0.725576         0
2024-01-03  1.972689  0.890634         0
2024-01-04 -0.633040  0.448209         1
2024-01-05  0.986522  0.868969         0
2024-01-06 -0.660415  0.763892         0
2024-01-07 -0.748330  0.280475         0
2024-01-08 -0.078288  0.790080         0
2024-01-09  0.591135  0.502539         1
2024-01-10  0.723189  0.463498         0

              normal   uniform  binomial
2026-09-22 -0.727860  0.950332         0
2026-09-23  0.520211  0.088997         0
2026-09-24 -1.557093  0.344340         0
2026-09-25  0.260498  0.143803         0
2026-09-26 -1.403126  0.492482         1

## Ćwiczenie 15

Wyświetl podstawowe informacje o obiekcie df (liczba wierszy, liczba kolumn, typ zmiennych) wykorzystując metodę `pd.DataFrame.info()`, następnie wydrukuj pustą linię i wydrukuj podstawowe statystyki obiektu df (wartość średnia, odchylenie, min, max, mediana) za pomocą metody `pd.DataFrame.describe()`.

In [30]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [31]:
print('Dataset info:')
df.info()

print()

print('Dataset stats:')
df.describe().transpose() # Use transpose for better readability

Dataset info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2023-01-01 to 2025-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB

Dataset stats:

,count,mean,std,min,25%,50%,75%,max
normal,1000.0,0.046040,0.988539,-3.296694,-0.609670,0.068851,0.695967,3.589372
uniform,1000.0,0.500776,0.295891,0.000837,0.245522,0.486599,0.758617,0.998901
binomial,1000.0,0.215000,0.411028,0.000000,0.000000,0.000000,0.000000,1.000000

## Ćwiczenie 16

Znajdź rozkład wartości zmiennej binomial z obiektu DataFrame podanego poniżej. Wydrukuj wynik do konsoli.
Wskazówka: Użyj `pd.Series.value_counts()`.

In [32]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [33]:
df['binomial'].value_counts()

binomial
0    813
1    187
Name: count, dtype: int64

## Ćwiczenie 17

Wyodrębnij pierwsze 50 rekordów z obiektu df i zapisz do pliku o nazwie `dataframe50.csv`.

In [34]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2023-01-01', periods=1000))

### Miejsce na rozwiązanie

In [35]:
export_df = df[:50]

export_df.to_csv('./dataframe50.csv')

## Ćwiczenie 18

Załaduj plik `dataframe50.csv` do zmiennej df_new (pamiętaj o prawidłowym załadowaniu indeksu) i wydrukuj zmienną df_new do konsoli.

### Miejsce na rozwiązanie

In [36]:
df_new = pd.read_csv('./dataframe50.csv', index_col=0)

print(df_new)

              normal   uniform  binomial
2023-01-01  0.252740  0.768574         1
2023-01-02  1.024531  0.676162         0
2023-01-03 -0.444385  0.982055         1
2023-01-04  0.094075  0.411681         1
2023-01-05  0.064442  0.642724         0
2023-01-06  0.584498  0.856055         0
2023-01-07 -0.988328  0.903249         0
2023-01-08  1.089649  0.436168         0
2023-01-09 -0.496629  0.564324         0
2023-01-10 -0.256558  0.161468         0
2023-01-11 -0.885750  0.100686         0
2023-01-12  1.368966  0.251140         1
2023-01-13 -1.645741  0.374163         1
2023-01-14 -0.178196  0.037994         0
2023-01-15  0.030810  0.680196         1
2023-01-16 -0.448811  0.931299         0
2023-01-17 -0.289000  0.816991         0
2023-01-18 -1.096951  0.601038         0
2023-01-19 -1.526101  0.001020         0
2023-01-20  0.526588  0.305530         0
2023-01-21  1.258035  0.999501         0
2023-01-22  1.579812  0.076934         0
2023-01-23  0.172836  0.611440         0
2023-01-24 -1.513123  0.720917         1
2023-01-25 -0.915731  0.773055         0
2023-01-26 -0.288014  0.073923         1
2023-01-27  0.653098  0.470812         1
2023-01-28  0.014977  0.591545         0
2023-01-29 -0.194031  0.773332         0
2023-01-30  0.125697  0.986137         1
2023-01-31 -0.875778  0.839544         0
2023-02-01  0.532484  0.128493         0
2023-02-02 -0.090627  0.657805         0
2023-02-03  0.738880  0.534307         0
2023-02-04 -0.393569  0.197290         1
2023-02-05  1.110374  0.010343         0
2023-02-06  1.486216  0.146915         1
2023-02-07  0.077093  0.201131         1
2023-02-08 -0.832259  0.568268         0
2023-02-09  0.660983  0.113207         1
2023-02-10  1.751593  0.808860         0
2023-02-11 -0.218920  0.229569         0
2023-02-12  0.024014  0.019170         0
2023-02-13 -1.491714  0.241317         0
2023-02-14 -0.022365  0.202845         0
2023-02-15 -1.241253  0.704901         0
2023-02-16 -0.625756  0.311585         0
2023-02-17 -1.131304  0.348814         0
2023-02-18 -1.022452  0.838496         1
2023-02-19 -0.497221  0.627572         0