### EDA Lab 5

### Imports

In [1]:
import pandas as pd
import numpy as np

### Zadanie 1

In [2]:
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

In [3]:
print(s1.shape)
print(s2.shape)
print(s1)
print(s2)

(20,)
(20,)
0     0.374540
1     0.950714
2     0.731994
3     0.598658
4     0.156019
5     0.155995
6     0.058084
7     0.866176
8     0.601115
9     0.708073
10    0.020584
11    0.969910
12    0.832443
13    0.212339
14    0.181825
15    0.183405
16    0.304242
17    0.524756
18    0.431945
19    0.291229
dtype: float64
0    -1.012831
1     0.314247
2    -0.908024
3    -1.412304
4     1.465649
5    -0.225776
6     0.067528
7    -1.424748
8    -0.544383
9     0.110923
10   -1.150994
11    0.375698
12   -0.600639
13   -0.291694
14   -0.601707
15    1.852278
16   -0.013497
17   -1.057711
18    0.822545
19   -1.220844
dtype: float64

In [4]:
df_data = {'col1': s1, 'col2': s2}

df = pd.DataFrame(df_data)
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

### Zadanie 2

In [5]:
ext = df[df['col2'].between(left=0.0, right=1.0, inclusive='both')]
print(ext)

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545

### Zadanie 3

In [6]:
# Create the values list

values = []
for record in df['col2'].values:
    if (record >= 0):
        values.append(1)
    else:
        values.append(0)

print(values)

[0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0]

In [7]:
df['col3'] = values
print(df)

        col1      col2  col3
0   0.374540 -1.012831     0
1   0.950714  0.314247     1
2   0.731994 -0.908024     0
3   0.598658 -1.412304     0
4   0.156019  1.465649     1
5   0.155995 -0.225776     0
6   0.058084  0.067528     1
7   0.866176 -1.424748     0
8   0.601115 -0.544383     0
9   0.708073  0.110923     1
10  0.020584 -1.150994     0
11  0.969910  0.375698     1
12  0.832443 -0.600639     0
13  0.212339 -0.291694     0
14  0.181825 -0.601707     0
15  0.183405  1.852278     1
16  0.304242 -0.013497     0
17  0.524756 -1.057711     0
18  0.431945  0.822545     1
19  0.291229 -1.220844     0

### Zadanie 4

In [8]:
# Cap col2 values at 1.0 for values above 1.0 and at -1.0 for values below -1.0

df['col4'] = np.where(df['col2'] >= 1.0, 1.0, df['col2'])
df['col4'] = np.where(df['col2'] <= -1.0, -1.0, df['col2'])
print(df)

        col1      col2  col3      col4
0   0.374540 -1.012831     0 -1.000000
1   0.950714  0.314247     1  0.314247
2   0.731994 -0.908024     0 -0.908024
3   0.598658 -1.412304     0 -1.000000
4   0.156019  1.465649     1  1.465649
5   0.155995 -0.225776     0 -0.225776
6   0.058084  0.067528     1  0.067528
7   0.866176 -1.424748     0 -1.000000
8   0.601115 -0.544383     0 -0.544383
9   0.708073  0.110923     1  0.110923
10  0.020584 -1.150994     0 -1.000000
11  0.969910  0.375698     1  0.375698
12  0.832443 -0.600639     0 -0.600639
13  0.212339 -0.291694     0 -0.291694
14  0.181825 -0.601707     0 -0.601707
15  0.183405  1.852278     1  1.852278
16  0.304242 -0.013497     0 -0.013497
17  0.524756 -1.057711     0 -1.000000
18  0.431945  0.822545     1  0.822545
19  0.291229 -1.220844     0 -1.000000

### Zadanie 5

In [9]:
sorted_col2_values = df['col2'].sort_values(axis=0, ascending=False)
print(sorted_col2_values.head(5))
print('')
print(sorted_col2_values.tail(5))

15    1.852278
4     1.465649
18    0.822545
11    0.375698
1     0.314247
Name: col2, dtype: float64

17   -1.057711
10   -1.150994
19   -1.220844
3    -1.412304
7    -1.424748
Name: col2, dtype: float64

### Zadanie 6

In [10]:
df_sum = pd.DataFrame.cumsum(self=df)
print(df_sum)

        col1      col2  col3      col4
0   0.374540 -1.012831     0 -1.000000
1   1.325254 -0.698584     1 -0.685753
2   2.057248 -1.606608     1 -1.593777
3   2.655907 -3.018912     1 -2.593777
4   2.811925 -1.553263     2 -1.128128
5   2.967920 -1.779039     2 -1.353904
6   3.026004 -1.711511     3 -1.286376
7   3.892180 -3.136259     3 -2.286376
8   4.493295 -3.680642     3 -2.830759
9   5.201367 -3.569719     4 -2.719836
10  5.221952 -4.720713     4 -3.719836
11  6.191862 -4.345015     5 -3.344138
12  7.024304 -4.945653     5 -3.944777
13  7.236643 -5.237347     5 -4.236471
14  7.418468 -5.839054     5 -4.838177
15  7.601873 -3.986776     6 -2.985899
16  7.906115 -4.000273     6 -2.999396
17  8.430872 -5.057984     6 -3.999396
18  8.862817 -4.235439     7 -3.176851
19  9.154046 -5.456283     7 -4.176851

### Zadanie 7

In [11]:
col2_med = df['col2'].median()
print(col2_med)

-0.4180382371592297

### Zadanie 8

In [12]:
# Select rows where col2 value is bigger than or equal to 0.0

search_cond = df['col2'] >= 0.0

ext_nonnegative_val = df[search_cond]
print(ext_nonnegative_val)

        col1      col2  col3      col4
1   0.950714  0.314247     1  0.314247
4   0.156019  1.465649     1  1.465649
6   0.058084  0.067528     1  0.067528
9   0.708073  0.110923     1  0.110923
11  0.969910  0.375698     1  0.375698
15  0.183405  1.852278     1  1.852278
18  0.431945  0.822545     1  0.822545

### Zadanie 9

In [13]:
df_dict = df.head().to_dict()
print(df_dict)

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}, 'col3': {0: 0, 1: 1, 2: 0, 3: 0, 4: 1}, 'col4': {0: -1.0, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.0, 4: 1.465648768921554}}

### Zadanie 10

In [14]:
df_html = df.head().to_html()
print(df_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
      <td>0</td>
      <td>-1.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
      <td>1</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
      <td>0</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
      <td>0</td>
      <td>-1.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
      <td>1</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

### Zadanie 11

In [15]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

In [16]:
search_cond = df['C'] > 0.8

ext = df[search_cond]
print(ext)

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397

### Zadanie 12

In [17]:
search_cond = (df['C'] > 0.3) & (df['D'] < 0.7)

ext = df[search_cond]
print(ext)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### Zadanie 13

In [18]:
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

### Zadanie 14

In [19]:
# Set the value of column B index 3 to NaN with iloc

df['B'].iloc[3] = np.nan

# Set the value of column D index 8 to NaN with loc

df.loc[8, 'D'] = np.nan

print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

### Zadanie 15

In [20]:
df1 = df.dropna()
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

### Zadanie 16

In [21]:
# Use inplace to directly alter df1 object, use drop to avoid adding index as new column

df1.reset_index(inplace=True, drop=True)
print(df1)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

### Zadanie 17

In [22]:
df.isna().sum()

A    0
B    1
C    0
D    1
dtype: int64

### Zadanie 18

In [23]:
df.fillna(value=0, inplace=True)
print(df)
print('')
print(df.isna().sum())

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

A    0
B    0
C    0
D    0
dtype: int64

### Zadanie 19

In [24]:
df = df[['D', 'A', 'B', 'C']]
print(df)

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.000000  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.000000  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

### Zadanie 20

In [25]:
df.drop(columns='D', axis=1, inplace=True)
print(df)

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.000000  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233